<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7e92dfa3-4e25-4c01-a624-65d253326c95/resourcegroups/SSU.Reception.Resources/providers/Microsoft.Web/sites/ReceptionWebApp</ResourceId>
    <ResourceGroup>SSU.Reception.Resources</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://receptionwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>receptionwebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ReceptionWebApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ReceptionWebApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DbConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ssu-reception-dbserver.database.windows.net,1433;Initial Catalog=SSU.Reception.Database;Persist Security Info=False;User ID=Kn2020;Password=Knit2020;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ssu-reception-dbserver.database.windows.net,1433;Initial Catalog=SSU.Reception.Database;Persist Security Info=False;User ID=Kn2020;Password=Knit2020;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SSU.Reception.Models.SchoolContext, SSU.Reception" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ssu-reception-dbserver.database.windows.net,1433;Initial Catalog=SSU.Reception.Database;Persist Security Info=False;User ID=Kn2020;Password=Knit2020;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ssu-reception-dbserver.database.windows.net,1433;Initial Catalog=SSU.Reception.Database;Persist Security Info=False;User ID=Kn2020;Password=Knit2020;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SSU.Reception.Models.ApplicationDbContext, SSU.Reception" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:ssu-reception-dbserver.database.windows.net,1433;Initial Catalog=SSU.Reception.Database;Persist Security Info=False;User ID=Kn2020;Password=Knit2020;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DbConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:ssu-reception-dbserver.database.windows.net,1433;Initial Catalog=SSU.Reception.Database;Persist Security Info=False;User ID=Kn2020;Password=Knit2020;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DbConnection" />
  </ItemGroup>
</Project>